@font-face {
	font-family: "Myriad Pro";
	src: url(../fonts/MYRIADPRO-REGULAR.OTF);
	font-weight: 400;
}
body {
	max-width: 1283px;
	margin: 0 auto;
	font-family: "Myraid Pro", Arial, Helvetica, sans-serif;
}
/* Header */
.logo {
	margin-top: 61px;
	margin-bottom: 43px;
}
.top-menu {
	width: 100%;
	background-color: #35444F;
	font-size: 24px;
	margin-bottom: 50px;
}
.top-menu-items {
	list-style: none;
	padding-top: 28px;
	padding-bottom: 22px;
	padding-left: 130px;
	margin: 0;
}
.top-menu-items li {
	display: inline;
}
.top-menu-items li a {
	text-decoration: none;
	font-family: "Myraid Pro", Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 28px 40px 23px;
	margin: 0;
}
.top-menu-items li a:hover {
	background-color: #142b38;
	border-left: 1px solid #828282;
	border-right: 1px solid #828282;
}

/* Section - information */

.side-menu {
	width:27%;
	border: 1px #000 solid;
	margin-right: 50px;
	float: left;
 }
	.side-menu-items {
	list-style: none;
	padding-left: 0px;
	}
.side-menu-items li a{
	text-decoration: none;
	font-family: "Myraid Pro", Arial, Helvetica, sans-serif;
	color: #405864;
	font-size: 27px;
	display: inline-block;
	width: 100%;
	line-height: 3em;
	padding-left: 43px;
	box-sizing: border-box;
}
.side-menu-items li a:hover {
	background-color: #dcdcdc;
	color: #000;
	padding-left: 69px;
	transition: .6s;
}
.image {
	display: inline-block;
	border: 1px solid;
	width: 55rem;
}
.ram {
	margin: 75px auto;
	padding-left: 300px;
}
.text {
	font-size: 18px;
	padding-left: 427px;
	padding-bottom: 30px;
	padding-top: 30px;
	line-height: 1.5em;
}

/* Footer */

.bottom-menu {
	background-color: #b3b8ba;
	font-size: 28px;
}
.bottom-menu-items {
	list-style: none;
  justify-content: space-between; 
	padding-top: 24px;
	padding-bottom: 24px;
}
.bottom-menu-items li {
display: inline-block;
justify-content: space-between;
padding: 10px;
}
.bottom-menu-items li a {
	text-decoration: none;
	font-family: "Myraid Pro", Arial, Helvetica, sans-serif;
	color: #000;
}
.bottom-menu-items li a:hover {
text-decoration: underline;
color: #0082a9;
}
.bottom-menu-items li:last-of-type {
	font-size: 24px;
	margin-left: 92px;
	margin-right: 34px;
}